@font-face {
    font-family:'PT Sans';
    font-style:normal;
    font-weight:normal;
    local:'PT Sans';
    src:url(../fonts/PTS55F_W.ttf);
}

@font-face {
    font-family:'PT Sans';
    font-style:italic;
    font-weight:normal;
    local:'PT Sans Italic';
    src:url(../fonts/PTS56F_W.ttf);
}

@font-face {
    font-family:'PT Sans';
    font-style:normal;
    font-weight:bold;
    local:'PT Sans Bold';
    src:url(../fonts/PTS75F_W.ttf);
}

@font-face {
    font-family:'PT Sans';
    font-style:italic;
    font-weight:bold;
    local:'PT Sans Bold Italic';
    src:url(../fonts/PTS76F_W.ttf);
}

html {
    height: 100%;
}

body {
    height: 100%;
    margin:0 auto;
    background-color:#EAEAEA;
    color:#555555;
    font-family:'PT Sans','Verdana',sans-serif;
    font-size:16px;
    line-height:22px;
    text-align:justify;
}

a {
    text-decoration:none;
}

a.link {
    color:#5C7DA8;
    font-weight:bold;
}

a.link:hover {
    color:#CC6A6A;
}

a#menu-item_active {
    color:#CC9393;
}

a.menu-item_inactive {
    color:#EAEAEA;
}

a.menu-item_inactive:hover {
    color:#93B2CC;
}

div#container {
    position:relative;
    min-height:100%;
}

span.italic {
    font-style:italic;
}

div#head {
    height:80px;
    background-color:#555555;
}

div#menu {
    height:80px;
    width:80%;
    margin:0 auto;
    background-image:url(../img/logo.png);
    background-position:center left;
    background-repeat:no-repeat;
}

div.menu-item {
    float:right;
    margin:32px 0 0 32px;
    font-size:18px;
    font-style:italic;
}

div#main {
    width:80%;
    margin:0 auto;
    padding:20px 0 130px 0;
}

div#foot {
    position:absolute;
    bottom:20px;
    left:10%;
    height:60px;
    width:80%;
}

div#license {
    height:32px;
    width:91px;
    margin:0 auto;
    background-image:url(../img/license.png);
}

div#license-text {
    padding:8px 0 0 0;
    font-size:14px;
    line-height:17px;
    text-align:center;
}
