img.image-image {
    display:inline-block;
    max-height:100%;
    max-width:100%;
    vertical-align:middle;
    cursor:pointer;
}

div.image {
    height:420px;
    margin:0 0 30px 0;
    line-height:17px;
}

#last {
    margin:0 0 10px 0;
}

div.image-headline {
    float:left;
    font-style:italic;
    line-height:20px;
}

div.image-date {
    font-size:14px;
    line-height:22px;
    text-align:right;
}

div.image-rule {
    height:2px;
    margin:2px 0 9px 0;
    background-color:#555555;
}

div.image-view {
    height:386px;
    width:68%;
    float:left;
    border:1px dashed #555555;
    line-height:382px;
    text-align:center;
}

div.image-overlay {
    height:368px;
    width:97.5%;
    margin:0 auto;
}

div.image-description {
    width:30%;
    margin:0 0 0 70%;
    font-size:14px;
}

div.image-annotations {
    padding:4px 7px 5px 7px;
    border:1px dashed #555555;
}

div.image-mapframe {
    margin-top:6%;
    padding:9px;
    border:1px dashed #555555;
}

div.image-map {
    height:200px;
}
