img.image-image {
    display:block;
    max-height:96%;
    max-width:96%;
    margin:0 auto;
    border:0;
}

div.image {
    height:400px;
    margin:0 0 30px 0;
}

div.image-view {
    float:left;
    width:65%;
}

div.image-headline {
    float:left;
    font-style:italic;
}

div.image-date {
    display:block;
    padding-top:3px;
    font-size:80%;
    text-align:right;
}

div.image-rule {
    height:2px;
    width:100%;
    margin:3px 0 9px 0;
    background-color:#555555;
}

div.image-image {
    height:366px;
    width:99.7%;
    border:1px dashed #555555;
}

div.image-overlay {
    position:relative;
    top:2%;
    height:100%;
}

div.image-description {
    position:relative;
    top:7.8%;
    width:30%;
    margin:0 0 0 70%;
}

div.image-annotations {
    padding:5px;
    border:1px dashed #555555;
}

div.image-mapframe {
    position:relative;
    top:10px;
    padding:5px;
    border:1px dashed #555555;
}

div.image-map {
    height:150px;
}
