img {
    display:block;
    max-height:100%;
    max-width:100%;
    margin:0 auto;
    border:0;
    cursor:pointer;
}

div.project {
    height:416px;
    margin:0 0 30px 0;
    line-height:17px;
}

div.project-headline {
    float:left;
    font-style:italic;
    line-height:20px;
}

div.project-date {
    font-size:14px;
    line-height:22px;
    text-align:right;
}

div.project-rule {
    height:2px;
    margin:2px 0 9px 0;
    background-color:#555555;
}

div.project-view {
    height:382px;
    width:68%;
    float:left;
    border:1px dashed #555555;
}

div.project-overlay {
    position:relative;
    top:2.25%;
    left:1.25%;
    height:95.5%;
    width:97.5%;
}

div.project-description {
    width:30%;
    margin:0 0 0 70%;
    font-size:14px;
}

div.project-annotations {
    padding:4px 7px 5px 7px;
    border:1px dashed #555555;
}

div.project-links {
    margin-top:6%;
    padding:4px 7px 5px 7px;
    border:1px dashed #555555;
}
